<div style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-4">
      <h3>Select Multiple Cities</h3>
      <form [formGroup]="myForm">
        <ng-reg-multi-select name="city" [placeholder]="'Select City'" formControlName="city"
          [settings]="dropdownSettings" (onDropDownClose)="onDropDownClose()" (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" [data]="cities">
        </ng-reg-multi-select>
      </form>
    </div>
  </div>
</div>